/* @import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=block'); */

html,
body {
  font-family: sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 400; */
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: pre-line;
  /* -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
  -webkit-tap-highlight-color: transparent;
}

/* button:hover {
  cursor: pointer;
} */

/* button {
  border: none;
  background: none;
  outline: none;
  background-color: rgb(32, 137, 220);
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 16px;
} */
